<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
    #map {
      height: 400px;
      width: 700px;
    }
    </style>
  </head>
  <body>
  <div id = "map" class="container"></div>
    <script>

       function initMap() {
        var myLatLng = {lat: <%=@shop.lat%>, lng: <%=@shop.long%>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU-ylpKq1VyjgQ77QogWWkRefVJ-B_N4g&callback=initMap">
    </script>
  </body>
</html>